$accentColor: #901AED;
$accentColorHover: #ad51f8;
$accentColorActive: #8C2CD7;
$accentColorNegativeText: #ffffff;
$accentColorNegativeSecondaryText: #C9A0E9;


$light_inputBorderColor: #D6D6E3;
$dark_inputBorderColor: #6A6A78;
$light_inputBorderColorHover: #D6D6E3;
$dark_inputBorderColorHover: #8d8d97;


$light_backgroundColor: #fafafc;
$light_backgroundColor2: #ffffff;
$light_backgroundColor3: #f4f4f6;
$light_backgroundColor4: #f0f0f2;
$dark_backgroundColor: #19191C;
$dark_backgroundColor2: #242428;
$dark_backgroundColor3: #242428;
$dark_backgroundColor4: #f0f0f2;



$light_primaryColor: #323232;
$light_secondaryColor: #868688;
$light_tertiaryColor: #a2a2a2;
$dark_primaryColor: #ffffff;
$dark_secondaryColor: #949494;
$dark_tertiaryColor: #848484;


$light_bottomBarBackgroundColor: #F0F0F0;
$light_bottomBarBorderColor: #DDDDDD;
$dark_bottomBarBackgroundColor: #28282D;
$dark_bottomBarBorderColor: #4D4D4D;

$light_btnSecondaryBorderColor: #9797A9;
$light_btnSecondaryBackgroundHover: rgba($accentColor, 0.1);
$light_btnSecondaryBackgroundHover2: #797979;
$light_btnSecondaryBackgroundActive: rgba($accentColor, 0.2);
$dark_btnSecondaryBorderColor: #424242;
$dark_btnSecondaryBackgroundHover: rgba($accentColor, 0.1);
$dark_btnSecondaryBackgroundHover2: #797979;
$dark_btnSecondaryBackgroundActive: rgba($accentColor, 0.2);


$light_scrollThumbColor: #C9C9C9;
$light_scrollThumbColorHover: #B9b9b9;
$light_scrollThumbColorActive: #a9a9a9;
$dark_scrollThumbColor: #35353C;
$dark_scrollThumbColorHover: #474750;
$dark_scrollThumbColorActive: #323234;

$light_tooltipColor: #FFFFFF;
$dark_tooltipColor: #39393E;

$light_inputBackgroundColor: #FFFFFF;
$dark_inputBackgroundColor: #28282A;

$light_componentSecondaryColor: #f0f0f2;
$light_componentSecondaryColorHover: #eaeaec;
$light_componentSecondaryColorActive: #DFDFDF;
$dark_componentSecondaryColor: $dark_backgroundColor2;
$dark_componentSecondaryColorHover: #35353C;
$dark_componentSecondaryColorActive: #2b2b2e;

$light_differenceColor: #FFD600;
$dark_differenceColor: #FFD600;
$light_differenceTextColor: #19191C;
$dark_differenceTextColor: #19191C;


//TODO Check if colors are still needed or need to be refactored
$accentComplementaryColor: #0C8CE9;
$dark_backgroundColor_500: #28282A;
$dark_backgroundColor_300: #37373A;
$light_backgroundColor_300: #DFDFDF;