.app {
    .logo {

        position: absolute;
        top: 16px;
        left: 24px;
        width: 128px;

        img {
            width: 124px;
            height: 28px;
        }

        #part1,
        #bar {
            @include for-theme(light) {
                fill: $light_primaryColor;
            }

            @include for-theme(dark) {
                fill: $dark_primaryColor;
            }
        }

        #part2 {
            @include for-theme(light) {
                fill: $light_tertiaryColor;
            }

            @include for-theme(dark) {
                fill: $dark_tertiaryColor;
            }
        }

    }

    .userData {

        position: absolute;
        bottom: 16px;
        left: 24px;

        img {
            width: 24px;
            height: 24px;
            border-radius: 24px;
            margin-right: 8px;
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
        }
    }
}

.figmaFileInput {
    @include for-theme(light) {
        background-image: url('./images/bgLight.png');
    }

    @include for-theme(dark) {
        background-image: url('./images/bgDark.png');
    }

    background-repeat: no-repeat;
    background-position: right bottom;

    .alignVCenter {
        margin-left: 10%;
        margin-bottom: 90px;

        @include smallDesktop {
            margin-left: 128px;
        }

        @include largeDesktop {
            margin-left: 240px;
        }
    }


    .alignFullCenter {
        bottom: 60px;
    }

    .logoSlider {
        width: 446px;
        height: 112px;
        margin-bottom: 64px;

        .front {
            &.animated {
                transition: clip-path 0.75s ease-in-out;
            }

            #figma {
                @include for-theme(light) {
                    fill: $light_primaryColor;
                }

                @include for-theme(dark) {
                    fill: $dark_primaryColor;
                }
            }

            #history {
                @include for-theme(light) {
                    fill: url(#history_dark_gradient) #fff;
                }

                @include for-theme(dark) {
                    fill: url(#history_dark_gradient) #fff;
                }
            }

            #subtitle {
                @include for-theme(light) {
                    fill: $light_primaryColor;
                }

                @include for-theme(dark) {
                    fill: $dark_primaryColor;
                }
            }
        }

        .back {
            &.animated {
                transition: clip-path 0.75s ease-in-out;
            }

            #figma {
                @include for-theme(light) {
                    fill: $light_tertiaryColor;
                }

                @include for-theme(dark) {
                    fill: $dark_tertiaryColor;
                }
            }

            #history {
                @include for-theme(light) {
                    fill: url(#history_dark_gradient) #fff;
                    opacity: 0.3;
                }

                @include for-theme(dark) {
                    fill: url(#history_dark_gradient) #fff;
                    opacity: 0.3;
                }
            }

            #subtitle {
                @include for-theme(light) {
                    fill: $light_tertiaryColor;
                }

                @include for-theme(dark) {
                    fill: $dark_tertiaryColor;
                }
            }
        }
    }

    .label {
        width: 50%;
        text-align: left;
        margin-bottom: 8px;
    }

    .linkUrlInput {
        @include flex;
        height: $componentHeightLarge;
        margin-right: $horizontalSeparationDefault;
    }

    .inputForm {
        width: 65%;
        max-width: 1600px;
        margin-bottom: 56px;
    }
}



.licenseOverlay {

    @include for-theme(light) {
        background-color: $light_backgroundColor;
        color: $light_primaryColor;
    }

    @include for-theme(dark) {
        background-color: $dark_backgroundColor;
        color: $dark_primaryColor;
    }

    @include for-theme(light) {
        background-image: url('./images/bgLight.png');
    }

    @include for-theme(dark) {
        background-image: url('./images/bgDark.png');
    }

    background-repeat: no-repeat;
    background-position: right bottom;

    .logoBig {
        width: 446px;
        height: 80px;
        margin-bottom: 32px;


        #figma {
            @include for-theme(light) {
                fill: $light_primaryColor;
            }

            @include for-theme(dark) {
                fill: $dark_primaryColor;
            }
        }

        #history {
            @include for-theme(light) {
                fill: url(#history_dark_gradient) #fff;
            }

            @include for-theme(dark) {
                fill: url(#history_dark_gradient) #fff;
            }
        }

    }

    .alignVCenter {
        margin-left: 10%;
        margin-bottom: 90px;

        @include smallDesktop {
            margin-left: 128px;
        }

        @include largeDesktop {
            margin-left: 240px;
        }
    }

    .primaryText {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .options {
        margin-top: 24px;
        margin-bottom: 40px;

        button {
            float: left;
            margin-right: 8px;
            width: 200px;
        }
    }

    .label {
        width: 50%;
        text-align: left;
        margin-bottom: 8px;
    }

    .linkUrlInput {
        @include flex;
        height: $componentHeightLarge;
        margin-right: $horizontalSeparationDefault;
    }

    .inputForm {
        width: 480px;
        max-width: 1600px;
        margin-top: 32px;
        margin-bottom: 56px;
    }
}

.loader {
    .alignFullCenter {
        bottom: 24px;
    }

    .dualRingLoader {
        margin-bottom: 16px;
    }
}

.comparer {
    .canvasVersionOverlay {
        @include flex;


        width: 300px;

        .select {
            width: 100%;
        }
    }


    .reactselect__control {
        border-radius: $cornerRadiusDefault;
        backdrop-filter: blur(20px);

        @include for-theme(light) {
            background-color: rgba($light_componentSecondaryColor, 0.8);
        }

        @include for-theme(dark) {
            background-color: rgba($dark_componentSecondaryColor, 0.8);
        }

        &:hover {
            @include for-theme(light) {
                background-color: rgba($light_componentSecondaryColorHover, 0.8);
            }

            @include for-theme(dark) {
                background-color: rgba($dark_componentSecondaryColorHover, 0.8);
            }
        }

        svg {
            path {
                @include for-theme(light) {
                    fill: $light_secondaryColor;
                }

                @include for-theme(dark) {
                    fill: $dark_secondaryColor;
                }
            }
        }
    }


    .reactselect__menu {
        border-radius: $cornerRadiusDefault;
        overflow: hidden;
        margin-top: 2px;
        padding: 4px;
        backdrop-filter: blur(20px);

        @include for-theme(light) {
            background-color: rgba($light_backgroundColor, 0.9);
            border: 1px solid $light_componentSecondaryColor;
        }

        @include for-theme(dark) {
            background-color: rgba($dark_backgroundColor, 0.9);
            border: 1px solid $dark_componentSecondaryColor;
        }

    }

    .reactselect__menu-list {
        padding: 0 4px 0 0;
    }

    .reactselect__indicators {
        padding: 0 24px 0 0;

        .reactselect__indicator-separator {
            margin-right: 8px;
        }
    }

    .compareHandle {
        .__rcs-handle-line {
            @include for-theme(light) {
                background-color: $light_backgroundColor4 !important;
            }

            @include for-theme(dark) {
                background-color: $dark_backgroundColor4 !important;
            }
        }
    }

    .sidebysideHandle {
        .__rcs-handle-line {
            @include for-theme(light) {
                background-color: $light_backgroundColor !important;
            }

            @include for-theme(dark) {
                background-color: $dark_backgroundColor2 !important;
            }
        }
    }

    .versionContainer {
        padding: 12px 16px;
        transition: all 0.1s ease-out;

        img {
            width: 16px;
            height: 16px;
            border-radius: 16px;
            margin-right: 8px;
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
        }

        .small {
            font-size: 13px;
        }

        .dummy-input-wrapper {
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
        }


    }

    .versionOption {

        padding: 12px 16px;
        transition: all 0.1s ease-out;
        border-radius: 2px;



        &:hover,
        &:focus {
            @include for-theme(light) {
                background-color: $light_componentSecondaryColorHover;
            }

            @include for-theme(dark) {
                background-color: $dark_componentSecondaryColorHover;
            }
        }

        img {
            width: 16px;
            height: 16px;
            border-radius: 16px;
            margin-right: 8px;
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
        }

        .small {
            font-size: 13px;
        }
    }

    .comparePadded {
        padding-left: 50%;
    }

    .differenceHeader {
        @include primaryText;
        @include alignFullCenter;
        padding: 8px;
        border-radius: 4px;

        @include for-theme(light) {
            background-color: $light_differenceColor;
            color: $light_differenceTextColor;
        }

        @include for-theme(dark) {
            background-color: $dark_differenceColor;
            color: $dark_differenceTextColor;
        }
    }

    .differenceOutline {

        @include for-theme(light) {
            border: 2px solid $light_differenceColor;
        }

        @include for-theme(dark) {
            border: 2px solid $dark_differenceColor;
        }
    }

    .differenceArtboard {
        @include for-theme(light) {
            backgroundColor: rgba(0, 0, 0, 0.05);
        }

        @include for-theme(dark) {
            backgroundColor: rgba(255, 255, 255, 0.05);
        }
    }

    // #region Bottom Bar

    .sidePanel {
        width: 240px;
        transition: all 0.3s ease-out;

        @include for-theme(light) {
            background-color: $light_backgroundColor;
        }

        @include for-theme(dark) {
            background-color: $dark_backgroundColor2;
        }

        padding-top:80px;
        padding-bottom:64px;


        &.collapsed {
            width: 0;
            opacity: 0;
        }

        .title {
            @include primaryText;
            padding-left: 24px;
            padding-right: 24px;
            margin-bottom: 32px;
            font-size: 16px;
        }

        .header {
            @include secondaryText;
            padding-left: 24px;
            padding-right: 24px;
            margin-bottom: 16px;
        }

        .listItem {
            padding: 8px 24px 10px 24px;
        }

        .trialMessage {
            padding: 24px;

            .secondaryText {
                margin-bottom: 16px;

                &::first-letter {
                    text-transform: capitalize;
                }
            }

            .btnPrimary {
                width: 100%;
                margin-bottom: 16px;
            }

            .btnSecondary {
                width: 100%;
            }
        }
    }

    // #endregion

    // #region Bottom Bar

    .bottomBar {

        // height:60px;
        padding: 12px 12px 12px 12px;

        @include for-theme(light) {
            background-color: $light_backgroundColor2;
            border-top: 1px solid $light_backgroundColor3;
        }

        @include for-theme(dark) {
            background-color: $dark_backgroundColor;
            border-top: 1px solid $dark_backgroundColor3;
        }

        display: grid;
        grid-template-columns: 2fr 1fr 2fr;

        .btnSecondary {
            height: 36px;

            &.viewOption {
                margin-right: 8px;
            }

            &.iconButton {
                width: 36px;
                margin-right: 8px;

                path {
                    @include for-theme(light) {
                        fill: $light_primaryColor;
                    }

                    @include for-theme(dark) {
                        fill: $dark_primaryColor;
                    }
                }

                &:hover {
                    @include for-theme(light) {
                        border-color: $light_btnSecondaryBackgroundHover2;
                    }

                    @include for-theme(dark) {
                        border-color: $dark_btnSecondaryBackgroundHover2;
                    }
                }

                &.checked {
                    @include for-theme(light) {
                        border-color: $accentColor;
                    }

                    @include for-theme(dark) {
                        border-color: $accentColor;
                    }

                    &:hover {
                        @include for-theme(light) {
                            border-color: $accentColorHover;
                        }

                        @include for-theme(dark) {
                            border-color: $accentColorHover;
                        }
                    }

                    path {
                        @include for-theme(light) {
                            fill: $accentColor;
                        }

                        @include for-theme(dark) {
                            fill: $dark_primaryColor;
                        }
                    }
                }
            }


        }

        span {
            margin-right: 8px;
        }

        .leftElements {
            grid-column: 1;

            @include smallDesktop {
                display: none;
            }
        }

        .centerElements {
            grid-column: 2;
        }

        .rightElements {
            grid-column: 3;
            justify-content: flex-end;

            @include smallDesktop {
                display: none;
            }
        }
    }

    // #endregion
}