.app {
    .logo {

        position: absolute;
        top: 16px;
        left: 24px;

        img {
            width: 124px;
            height: 28px;
        }
    }

    .userData {

        position: absolute;
        bottom: 16px;
        left: 24px;

        img {
            width: 24px;
            height: 24px;
            border-radius: 24px;
            margin-right: 8px;
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
        }
    }
}

.figmaFileInput {

    .alignFullCenter {
        bottom: 60px;
    }

    .logoSlider {
        width: 446px;
        height: 112px;
        margin-bottom: 64px;
    }

    .label {
        width: 50%;
        text-align: left;
        margin-bottom: 8px;
    }

    .linkUrlInput {
        @include flex;
        height: $componentHeightLarge;
        margin-right: $horizontalSeparationDefault;
    }

    .inputForm {
        width: 55%;
        margin-bottom: 56px;
    }
}

.loader {
    .alignFullCenter {
        bottom: 24px;
    }

    .dualRingLoader {
        margin-bottom: 16px;
    }
}

.comparer {
    .canvasVersionOverlay {
        @include flex;
        width: 300px;
        background-color: rgba(255, 255, 255, 0.1);

        .select {
            width: 100%;
        }
    }

    .versionOption {

        padding: 8px 12px;
        transition: all 0.1s ease-out;

        @include for-theme(light) {
            background-color: $light_backgroundColor;
            border-bottom: 1px solid $light_backgroundColor_300;
            color: $light_primaryColor;
        }

        @include for-theme(dark) {
            background-color: $dark_backgroundColor;
            border-bottom: 1px solid $dark_backgroundColor_500;
            color: $dark_primaryColor;
        }

        &:hover {
            @include for-theme(light) {
                background-color: $light_leftListItemHoverBackgroundColor;
            }
    
            @include for-theme(dark) {
                background-color: $dark_leftListItemHoverBackgroundColor;
            }
        }

        img {
            width: 16px;
            height: 16px;
            border-radius: 16px;
            margin-right: 8px;
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
        }

        .small{
            font-size: 13px;
        }
    }
}