@mixin primaryText {
    font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;

    @include for-theme(light) {
        color: $light_primaryColor;
    }

    @include for-theme(dark) {
        color: $dark_primaryColor;
    }
}

.primaryText {
    @include primaryText;
}

@mixin secondaryText {
    font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;

    &.spaced {
        line-height: 20px;
    }

    @include for-theme(light) {
        color: $light_secondaryColor;
    }

    @include for-theme(dark) {
        color: $dark_secondaryColor;
    }
}

.secondaryText {
    @include secondaryText;
}

@mixin errorText {
    font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;

    &.spaced {
        line-height: 20px;
    }

    @include for-theme(light) {
        color: $light_errorColor;
    }

    @include for-theme(dark) {
        color: $dark_errorColor;
    }
}

@mixin successText {
    font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;

    &.spaced {
        line-height: 20px;
    }

    @include for-theme(light) {
        color: $light_successColor;
    }

    @include for-theme(dark) {
        color: $dark_successColor;
    }
}

.errorText {
    @include errorText;
}

.successText {
    @include successText;
}

@mixin webPrimaryText {
    font-family: Inter-SemiBold, sans-serif;
    font-size: 16px;

    @include for-theme(light) {
        color: $light_primaryColor;
    }

    @include for-theme(dark) {
        color: $dark_primaryColor;
    }
}

.webPrimaryText {
    @include webPrimaryText;
}

@mixin webSecondaryText {
    font-family: Inter-SemiBold, sans-serif;
    font-size: 16px;

    @include for-theme(light) {
        color: $light_secondaryColor;
    }

    @include for-theme(dark) {
        color: $dark_secondaryColor;
    }
}

.webSecondaryText {
    @include webSecondaryText;
}

h1 {
    font-family: Inter-Bold, sans-serif;
    font-size: 48px;
}

h3 {
    font-family: Inter-SemiBold, sans-serif;
    font-size: 24px;
}

h6 {
    font-family: Inter-SemiBold, sans-serif;
    font-size: 18px;
}