@import "./scss/_dimensions";
@import "./scss/_media";
@import "./scss/_colors";
@import "./scss/_typography";
@import "./scss/_layout";
@import "./scss/_loaders";
@import "./scss/_lists";
@import "./scss/_tooltip";
@import "./scss/_pages";

// #region Font

@font-face {
  font-family: AvenirNextLTPro-Medium;
  src: url(./fonts/AvenirNextLTPro-Medium.ttf) format('truetype');
}

@font-face {
  font-family: AvenirNextLTPro-Bold;
  src: url(./fonts/AvenirNextLTPro-Bold.ttf) format('truetype');
}

@font-face {
  font-family: AvenirNextLTPro-Demi;
  src: url(./fonts/AvenirNextLTPro-Demi.ttf) format('truetype');
}

// #endregion

// #region Html, Body

html {
  box-sizing: border-box;
  background: transparent;
  overflow: hidden;
  cursor: default;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;

  @include for-theme(light) {
    background-color: $light_backgroundColor;
    color: $light_primaryColor;
  }

  @include for-theme(dark) {
    background-color: $dark_backgroundColor;
    color: $dark_primaryColor;
  }
}

#root {
  width: 100%;
  height: 100%;
  @include flex;
}

.react-transform-wrapper {
  width: 100% !important;
  height: 100% !important;
}

.innerCanvas {
  @include for-theme(light) {
    background-color: $light_backgroundColor;
    color: $light_primaryColor;
  }

  @include for-theme(dark) {
    background-color: $dark_backgroundColor;
    color: $dark_primaryColor;
  }
}


*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

// #endregion

// #region Window, backgrounds, and panels

.dotted {
  background: transparent;
  background-size: 20px 20px;
  background-position: -19px -19px;

  @include for-theme(light) {
    background-image: radial-gradient($light_backgroundColor_300 1px, transparent 0);
  }

  @include for-theme(dark) {
    background-image: radial-gradient($dark_backgroundColor_300 1px, transparent 0);
  }
}

// #endregion

// #region Bottom Bar

.bottomBar {

  // height:60px;
  @include for-theme(light) {
    background-color: $light_bottomBarBackgroundColor;
    border-top: 1px solid $light_bottomBarBorderColor;
  }

  @include for-theme(dark) {
    background-color: $dark_bottomBarBackgroundColor;
    border-top: 1px solid $dark_bottomBarBorderColor;
  }
}

// #endregion

// #region Buttons

@mixin btnPrimary {
  border: none;
  border-radius: $cornerRadiusDefault;
  outline: none;
  font-family: AvenirNextLTPro-Demi, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  background-color: $accentColor;
  transition: all 0.15s ease-out;

  @include for-theme(light) {
    color: $light_primaryColor;
  }

  @include for-theme(dark) {
    color: $dark_primaryColor;
  }

  padding: 6px 24px;
  height: $componentHeightDefault;

  &:hover,
  &:focus {
    background-color: $accentColorHover;
    outline: none;
  }

  &:active {
    background-color: $accentColorActive;
    border-color: $accentColorActive;
    outline: none;
  }

  &:disabled {
    background-color: $accentColor;
    border-color: $accentColor;
    outline: none;
    opacity: 0.3;
  }
}

.btnPrimary {
  @include btnPrimary;

  &.large {
    height: $componentHeightLarge;
  }
}

@mixin btnSecondary {
  @include for-theme(light) {
    border: 1px solid $light_btnSecondaryBorderColor;
  }

  @include for-theme(dark) {
    border: 1px solid $dark_btnSecondaryBorderColor;
  }

  background-color: transparent;
  width: 100px;
  height: 34px;
  border-radius: 17px;
  background-origin: border-box;
  background-clip: content-box,
  border-box;
  @include alignHorizontalCenter;
  outline: none;
  font-family: AvenirNextLTPro-Demi,
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;
  font-size: 13px;
  transition: all 0.1s ease-out;
  line-height: 34px;

  @include for-theme(light) {
    color: $light_primaryColor;
  }

  @include for-theme(dark) {
    color: $dark_primaryColor;
  }

  &:hover {
    @include for-theme(light) {
      background-color: $light_btnSecondaryBackgroundHover;
      border-color: $accentColorHover;
      color: $accentColorDarkText;
    }

    @include for-theme(dark) {
      background-color: $dark_btnSecondaryBackgroundHover;
      border-color: $accentColorHover;
    }

    outline: none;
  }

  &:active {
    @include for-theme(light) {
      background-color: $light_btnSecondaryBackgroundActive;
      border-color: $accentColorActive;
    }

    @include for-theme(dark) {
      background-color: $dark_btnSecondaryBackgroundActive;
      border-color: $accentColorActive;
    }

    outline: none;
  }
}


@mixin btnTertiary {
  border: 1px solid transparent;
  background-color: transparent;
  width: 100px;
  height: 34px;
  border-radius: 17px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  @include alignHorizontalCenter;
  outline: none;
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  transition: all 0.1s ease-out;

  @include for-theme(light) {
    color: $light_secondaryColor;
  }

  @include for-theme(dark) {
    color: $dark_secondaryColor;
  }

  &:hover {
    @include for-theme(light) {
      border-color: $accentColorHover;
      color: $accentColorDarkText;
    }

    @include for-theme(dark) {
      border-color: $accentColorHover;
      color: $dark_primaryColor;
    }

    outline: none;
  }

  &:active {
    @include for-theme(light) {
      border-color: $accentColorActive;
    }

    @include for-theme(dark) {
      border-color: $accentColorActive;
    }

    outline: none;
  }
}

.btnTertiary {
  @include btnTertiary;
}

// #endregion

// #region Animations (fades)

@mixin animatedDiv {
  &.visible {
    transition: visibility 0s, opacity 0s;
    visibility: visible;
    opacity: 1;
  }

  &.invisible {
    transition: visibility 0s, opacity 0s;
    visibility: hidden;
    opacity: 0;
  }

  &.fadeOut {
    transition: opacity 0.5s linear, visibility 0s 0.5s !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }

  &.fadeIn {
    transition: visibility 0s, opacity 0.5s linear !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
}

.animatedDiv {
  @include animatedDiv;
}

// #endregion

// #region Scroll

div::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

div::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;

  @include for-theme(light) {
    background-color: $light_scrollThumbColor;
  }

  @include for-theme(dark) {
    background-color: $dark_scrollThumbColor;
  }

  &:hover {
    @include for-theme(light) {
      background-color: $light_scrollThumbColorHover;
    }

    @include for-theme(dark) {
      background-color: $dark_scrollThumbColorHover;
    }
  }

  &:active {
    @include for-theme(light) {
      background-color: $light_scrollThumbColorActive;
    }

    @include for-theme(dark) {
      background-color: $dark_scrollThumbColorActive;
    }
  }
}

// #endregion

// #region Input

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

.inputLabel {
  @include secondaryText;
  text-align: left;
  margin: 0 0 8px 0;
}

.inputMessage {
  @include secondaryText;
  text-align: left;
  margin: 0 0 24px 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: none;

  .tooltipText {
    visibility: hidden;
    width: 240px;

    @include for-theme(light) {
      background-color: $light_tooltipColor;
    }

    @include for-theme(dark) {
      background-color: $dark_tooltipColor;
    }

    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 7px;
    margin-left: -120px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2);

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;

      @include for-theme(light) {
        border-color: $light_tooltipColor transparent transparent transparent;
      }

      @include for-theme(dark) {
        border-color: $dark_tooltipColor transparent transparent transparent;
      }
    }

    span {
      @include primaryText;
    }
  }

  &:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }
}

input[type="text"] {
  padding: 8px 12px;
  width: 305px;
  height: $componentHeightDefault;
  margin: 0 0 8px 0;
  box-sizing: border-box;
  border-radius: $cornerRadiusDefault;
  outline: none;
  @include primaryText;
  transition: all 0.15s ease-out;

  @include for-theme(light) {
    background-color: $light_inputBackgroundColor;
    border: 1px solid $light_inputBorderColor;
  }

  @include for-theme(dark) {
    background-color: $dark_inputBackgroundColor;
    border: 1px solid $dark_inputBorderColor;
  }

  &:focus,
  &:hover {
    @include for-theme(light) {
      border: 1px solid $light_inputBorderColorHover;
    }

    @include for-theme(dark) {
      border: 1px solid $dark_inputBorderColorHover;
    }
  }

  &.large {
    height: $componentHeightLarge;
  }

  &.hasMessage {
    margin: 0;
  }
}

// #endregion

// #region Links(a)

a {
  color: inherit;
}

// #endregion

// #region Spinner

.lds-dual-ring {
  display: inline-block;
  width: 42px;
  height: 42px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid rgb(105, 105, 105);
  border-color: rgb(105, 105, 105) transparent rgb(105, 105, 105) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// #endregion