.primaryText {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
}
@media (prefers-color-scheme: light) {
  .primaryText {
    color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .primaryText {
    color: #ffffff;
  }
}

.secondaryText {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
}
.secondaryText.spaced {
  line-height: 20px;
}
@media (prefers-color-scheme: light) {
  .secondaryText {
    color: #868688;
  }
}
@media (prefers-color-scheme: dark) {
  .secondaryText {
    color: #949494;
  }
}

div::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

div::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
@media (prefers-color-scheme: light) {
  div::-webkit-scrollbar-thumb {
    background-color: #C9C9C9;
  }
}
@media (prefers-color-scheme: dark) {
  div::-webkit-scrollbar-thumb {
    background-color: #35353C;
  }
}
@media (prefers-color-scheme: light) {
  div::-webkit-scrollbar-thumb:hover {
    background-color: #B9b9b9;
  }
}
@media (prefers-color-scheme: dark) {
  div::-webkit-scrollbar-thumb:hover {
    background-color: #474750;
  }
}
@media (prefers-color-scheme: light) {
  div::-webkit-scrollbar-thumb:active {
    background-color: #a9a9a9;
  }
}
@media (prefers-color-scheme: dark) {
  div::-webkit-scrollbar-thumb:active {
    background-color: #323234;
  }
}

.notDisplayed {
  display: none !important;
}

.notVisible {
  visibility: hidden !important;
}

.displayFlex {
  display: flex;
}

.flexDirectionRow {
  flex-direction: row;
}

.flexDirectionColumn, .verticalLayout {
  display: flex;
  flex-direction: column;
}

.horizontalLayout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-width: 0;
}

.verticalLayout {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
}

.colAuto {
  flex: 0 0 auto;
  position: relative;
}

.colAvailable {
  flex: 1 1;
  position: relative;
}

.rowAuto {
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.rowAvailable {
  flex: 1 1;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.alignVerticalCenter {
  display: flex;
  align-content: center;
  align-items: center;
}

.alignHorizontalCenter {
  margin: 0 auto;
}

.alignFullCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alignFullCenterAndCenterText {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.alignFlexHorizontalCenter {
  justify-content: center;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapPanel {
  display: flex;
  flex-wrap: wrap;
}

.fullHeight {
  height: 100%;
}

.noScroll {
  overflow: hidden !important;
}

.fullWidth {
  width: 100%;
}

.extend {
  width: 100%;
  height: 100%;
}

.gridExtender {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}
.gridExtender .singleCellExtend {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
}

.flexGhostElement {
  display: flex;
  flex: 1 1 250px;
  height: 0;
  opacity: 0;
  margin-right: 10px;
  background-color: red;
}

.scrollXVisible {
  overflow-x: visible !important;
}

.relativePos {
  position: relative;
}

.singleArea {
  padding: 5px 10px 0 10px;
}

.noPointerEvents {
  pointer-events: none;
}

.indeterminateLoader {
  min-height: 100px;
  width: 100%;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.indeterminateLoader .loaderMessage {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  margin-top: 16px;
}
.indeterminateLoader .loaderMessage.spaced {
  line-height: 20px;
}
@media (prefers-color-scheme: light) {
  .indeterminateLoader .loaderMessage {
    color: #868688;
  }
}
@media (prefers-color-scheme: dark) {
  .indeterminateLoader .loaderMessage {
    color: #949494;
  }
}
.indeterminateLoader .indeterminateLoaderRing {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 1;
  border-radius: 50%;
  border: 3px solid #901AED;
  border-left-color: transparent;
  background: transparent;
  animation: spinnerAnimation 0.7s infinite linear;
}
.indeterminateLoader .dualRingLoader {
  display: inline-block;
  width: 42px;
  height: 42px;
}
.indeterminateLoader .dualRingLoader:after {
  content: " ";
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid rgb(105, 105, 105);
  border-color: rgb(105, 105, 105) transparent rgb(105, 105, 105) transparent;
  animation: dualRingLoader 1.2s linear infinite;
}
.indeterminateLoader.show {
  opacity: 1;
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes dualRingLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.progressIndicatorContainer {
  width: 96px;
  height: 96px;
  margin-bottom: 16px;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke-width: 4px;
  stroke: rgba(255, 255, 255, 0.05);
}
.CircularProgressbar .CircularProgressbar-path {
  stroke-width: 4px;
  stroke: #901AED;
}

.pageLoader {
  position: absolute;
  top: 300px;
  left: 300px;
}

.btnPrimary {
  border: none;
  border-radius: 6px;
  outline: none;
  font-family: AvenirNextLTPro-Demi, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  background-color: #901AED;
  transition: all 0.15s ease-out;
  color: #ffffff;
  padding: 6px 24px;
  height: 32px;
}
.btnPrimary:hover, .btnPrimary:focus {
  background-color: #ad51f8;
  outline: none;
}
.btnPrimary:active {
  background-color: #8C2CD7;
  border-color: #8C2CD7;
  outline: none;
}
.btnPrimary:disabled {
  background-color: #901AED;
  border-color: #901AED;
  outline: none;
  opacity: 0.3;
}
.btnPrimary.large {
  height: 40px;
}

.btnSecondary {
  background-color: transparent;
  width: 100px;
  height: 34px;
  border-radius: 6px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  outline: none;
  font-family: AvenirNextLTPro-Demi, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  transition: all 0.1s ease-out;
}
@media (prefers-color-scheme: light) {
  .btnSecondary {
    border: 1px solid #9797A9;
  }
}
@media (prefers-color-scheme: dark) {
  .btnSecondary {
    border: 1px solid #424242;
  }
}
@media (prefers-color-scheme: light) {
  .btnSecondary {
    color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .btnSecondary {
    color: #ffffff;
  }
}
.btnSecondary:hover {
  outline: none;
}
@media (prefers-color-scheme: light) {
  .btnSecondary:hover {
    background-color: rgba(144, 26, 237, 0.1);
    border-color: #ad51f8;
  }
}
@media (prefers-color-scheme: dark) {
  .btnSecondary:hover {
    background-color: rgba(144, 26, 237, 0.1);
    border-color: #ad51f8;
  }
}
.btnSecondary:active {
  outline: none;
}
@media (prefers-color-scheme: light) {
  .btnSecondary:active {
    background-color: rgba(144, 26, 237, 0.2);
    border-color: #8C2CD7;
  }
}
@media (prefers-color-scheme: dark) {
  .btnSecondary:active {
    background-color: rgba(144, 26, 237, 0.2);
    border-color: #8C2CD7;
  }
}
@media (prefers-color-scheme: light) {
  .btnSecondary.checked {
    border-color: #901AED;
    color: #901AED;
  }
}
@media (prefers-color-scheme: dark) {
  .btnSecondary.checked {
    border-color: #901AED;
  }
}

.btnTertiary {
  border: 1px solid transparent;
  background-color: transparent;
  width: 100px;
  height: 34px;
  border-radius: 17px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 0 auto;
  outline: none;
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  transition: all 0.1s ease-out;
}
@media (prefers-color-scheme: light) {
  .btnTertiary {
    color: #868688;
  }
}
@media (prefers-color-scheme: dark) {
  .btnTertiary {
    color: #949494;
  }
}
.btnTertiary:hover {
  outline: none;
}
@media (prefers-color-scheme: light) {
  .btnTertiary:hover {
    border-color: #ad51f8;
  }
}
@media (prefers-color-scheme: dark) {
  .btnTertiary:hover {
    border-color: #ad51f8;
    color: #ffffff;
  }
}
.btnTertiary:active {
  outline: none;
}
@media (prefers-color-scheme: light) {
  .btnTertiary:active {
    border-color: #8C2CD7;
  }
}
@media (prefers-color-scheme: dark) {
  .btnTertiary:active {
    border-color: #8C2CD7;
  }
}

input,
textarea {
  -webkit-user-select: auto;
  -moz-user-select: auto;
       user-select: auto;
}

.inputLabel {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  text-align: left;
  margin: 0 0 8px 0;
}
.inputLabel.spaced {
  line-height: 20px;
}
@media (prefers-color-scheme: light) {
  .inputLabel {
    color: #868688;
  }
}
@media (prefers-color-scheme: dark) {
  .inputLabel {
    color: #949494;
  }
}

.inputMessage {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  text-align: left;
  margin: 0 0 24px 0;
}
.inputMessage.spaced {
  line-height: 20px;
}
@media (prefers-color-scheme: light) {
  .inputMessage {
    color: #868688;
  }
}
@media (prefers-color-scheme: dark) {
  .inputMessage {
    color: #949494;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: none;
}
.tooltip .tooltipText {
  visibility: hidden;
  width: 240px;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 7px;
  margin-left: -120px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2);
}
@media (prefers-color-scheme: light) {
  .tooltip .tooltipText {
    background-color: #FFFFFF;
  }
}
@media (prefers-color-scheme: dark) {
  .tooltip .tooltipText {
    background-color: #39393E;
  }
}
.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}
@media (prefers-color-scheme: light) {
  .tooltip .tooltipText::after {
    border-color: #FFFFFF transparent transparent transparent;
  }
}
@media (prefers-color-scheme: dark) {
  .tooltip .tooltipText::after {
    border-color: #39393E transparent transparent transparent;
  }
}
.tooltip .tooltipText span {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
}
@media (prefers-color-scheme: light) {
  .tooltip .tooltipText span {
    color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .tooltip .tooltipText span {
    color: #ffffff;
  }
}
.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

input[type=text] {
  padding: 8px 12px;
  width: 305px;
  height: 32px;
  margin: 0 0 8px 0;
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  transition: all 0.15s ease-out;
}
@media (prefers-color-scheme: light) {
  input[type=text] {
    color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  input[type=text] {
    color: #ffffff;
  }
}
@media (prefers-color-scheme: light) {
  input[type=text] {
    background-color: #FFFFFF;
    border: 1px solid #D6D6E3;
  }
}
@media (prefers-color-scheme: dark) {
  input[type=text] {
    background-color: #28282A;
    border: 1px solid #6A6A78;
  }
}
@media (prefers-color-scheme: light) {
  input[type=text]:focus, input[type=text]:hover {
    border: 1px solid #D6D6E3;
  }
}
@media (prefers-color-scheme: dark) {
  input[type=text]:focus, input[type=text]:hover {
    border: 1px solid #8d8d97;
  }
}
input[type=text].large {
  height: 40px;
}
input[type=text].hasMessage {
  margin: 0;
}

.primaryText {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
}
@media (prefers-color-scheme: light) {
  .primaryText {
    color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .primaryText {
    color: #ffffff;
  }
}

.secondaryText {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
}
.secondaryText.spaced {
  line-height: 20px;
}
@media (prefers-color-scheme: light) {
  .secondaryText {
    color: #868688;
  }
}
@media (prefers-color-scheme: dark) {
  .secondaryText {
    color: #949494;
  }
}

.listItem {
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 4px 8px;
  margin-bottom: 1px;
  margin-right: 4px;
  cursor: pointer;
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  background-color: transparent;
  transition: all 0.2s ease-out;
}
@media (prefers-color-scheme: light) {
  .listItem {
    color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .listItem {
    color: #ffffff;
  }
}
@media (prefers-color-scheme: light) {
  .listItem:hover {
    background-color: #eaeaec;
  }
}
@media (prefers-color-scheme: dark) {
  .listItem:hover {
    background-color: #35353C;
  }
}
.listItem.selected {
  background-color: #901AED;
  color: #ffffff;
}
.listItem.selected .primaryText {
  color: #ffffff;
}
.listItem.selected .secondaryText {
  color: #C9A0E9;
}
.listItem span {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  width: 100%;
  margin: 4px 10px 4px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
}
@media (prefers-color-scheme: light) {
  .listItem span {
    color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .listItem span {
    color: #ffffff;
  }
}
.listItem .listItemIcon {
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (prefers-color-scheme: light) {
  .listItem .listItemIcon.component {
    background-image: url("images/componentIcon.png");
  }
}
@media (prefers-color-scheme: dark) {
  .listItem .listItemIcon.component {
    background-image: url("images/componentIcon.png");
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: none;
}
.tooltip .tooltipText {
  visibility: hidden;
  width: 460px;
  visibility: hidden;
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  padding: 10px 16px 14px 16px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  border-radius: 6px;
  z-index: 1;
  bottom: 150%;
  margin-left: -230px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2);
  text-align: left;
}
@media (prefers-color-scheme: light) {
  .tooltip .tooltipText {
    background-color: #FFFFFF;
  }
}
@media (prefers-color-scheme: dark) {
  .tooltip .tooltipText {
    background-color: #39393E;
  }
}
@media (prefers-color-scheme: light) {
  .tooltip .tooltipText {
    color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .tooltip .tooltipText {
    color: #ffffff;
  }
}
.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}
@media (prefers-color-scheme: light) {
  .tooltip .tooltipText::after {
    border-color: #FFFFFF transparent transparent transparent;
  }
}
@media (prefers-color-scheme: dark) {
  .tooltip .tooltipText::after {
    border-color: #39393E transparent transparent transparent;
  }
}
.tooltip .tooltipText span {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
}
@media (prefers-color-scheme: light) {
  .tooltip .tooltipText span {
    color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .tooltip .tooltipText span {
    color: #ffffff;
  }
}
.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.app .logo {
  position: absolute;
  top: 16px;
  left: 24px;
  width: 128px;
}
.app .logo img {
  width: 124px;
  height: 28px;
}
@media (prefers-color-scheme: light) {
  .app .logo #part1,
  .app .logo #bar {
    fill: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .app .logo #part1,
  .app .logo #bar {
    fill: #ffffff;
  }
}
@media (prefers-color-scheme: light) {
  .app .logo #part2 {
    fill: #a2a2a2;
  }
}
@media (prefers-color-scheme: dark) {
  .app .logo #part2 {
    fill: #848484;
  }
}
.app .userData {
  position: absolute;
  bottom: 16px;
  left: 24px;
}
.app .userData img {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin-right: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}

.figmaFileInput .alignFullCenter {
  bottom: 60px;
}
.figmaFileInput .logoSlider {
  width: 446px;
  height: 112px;
  margin-bottom: 64px;
}
@media (prefers-color-scheme: light) {
  .figmaFileInput .logoSlider .front path {
    fill: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .figmaFileInput .logoSlider .front path {
    fill: #ffffff;
  }
}
@media (prefers-color-scheme: light) {
  .figmaFileInput .logoSlider .back path {
    fill: #a2a2a2;
  }
}
@media (prefers-color-scheme: dark) {
  .figmaFileInput .logoSlider .back path {
    fill: #848484;
  }
}
.figmaFileInput .label {
  width: 50%;
  text-align: left;
  margin-bottom: 8px;
}
.figmaFileInput .linkUrlInput {
  display: flex;
  height: 40px;
  margin-right: 8px;
}
.figmaFileInput .inputForm {
  width: 55%;
  margin-bottom: 56px;
}

.loader .alignFullCenter {
  bottom: 24px;
}
.loader .dualRingLoader {
  margin-bottom: 16px;
}

.comparer .canvasVersionOverlay {
  display: flex;
  width: 300px;
}
.comparer .canvasVersionOverlay .select {
  width: 100%;
}
.comparer .reactselect__control {
  border-radius: 6px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
@media (prefers-color-scheme: light) {
  .comparer .reactselect__control {
    background-color: rgba(240, 240, 242, 0.8);
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .reactselect__control {
    background-color: rgba(36, 36, 40, 0.8);
  }
}
@media (prefers-color-scheme: light) {
  .comparer .reactselect__control:hover {
    background-color: rgba(234, 234, 236, 0.8);
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .reactselect__control:hover {
    background-color: rgba(53, 53, 60, 0.8);
  }
}
@media (prefers-color-scheme: light) {
  .comparer .reactselect__control svg path {
    fill: #868688;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .reactselect__control svg path {
    fill: #949494;
  }
}
.comparer .reactselect__menu {
  border-radius: 6px;
  overflow: hidden;
  margin-top: 2px;
  padding: 4px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
@media (prefers-color-scheme: light) {
  .comparer .reactselect__menu {
    background-color: rgba(250, 250, 252, 0.9);
    border: 1px solid #f0f0f2;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .reactselect__menu {
    background-color: rgba(25, 25, 28, 0.9);
    border: 1px solid #242428;
  }
}
.comparer .reactselect__menu-list {
  padding: 0 4px 0 0;
}
.comparer .reactselect__indicators {
  width: 32px;
}
@media (prefers-color-scheme: light) {
  .comparer .compareHandle .__rcs-handle-line {
    background-color: #f0f0f2 !important;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .compareHandle .__rcs-handle-line {
    background-color: #242428 !important;
  }
}
@media (prefers-color-scheme: light) {
  .comparer .sidebysideHandle .__rcs-handle-line {
    background-color: #fafafc !important;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .sidebysideHandle .__rcs-handle-line {
    background-color: #242428 !important;
  }
}
.comparer .versionContainer {
  padding: 12px 16px;
  transition: all 0.1s ease-out;
}
.comparer .versionContainer img {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin-right: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}
.comparer .versionContainer .small {
  font-size: 13px;
}
.comparer .versionContainer .dummy-input-wrapper {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}
.comparer .versionOption {
  padding: 12px 16px;
  transition: all 0.1s ease-out;
  border-radius: 2px;
}
@media (prefers-color-scheme: light) {
  .comparer .versionOption:hover, .comparer .versionOption:focus {
    background-color: #eaeaec;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .versionOption:hover, .comparer .versionOption:focus {
    background-color: #35353C;
  }
}
.comparer .versionOption img {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin-right: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}
.comparer .versionOption .small {
  font-size: 13px;
}
.comparer .comparePadded {
  padding-left: 50%;
}
.comparer .differenceHeader {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;
}
@media (prefers-color-scheme: light) {
  .comparer .differenceHeader {
    color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .differenceHeader {
    color: #ffffff;
  }
}
@media (prefers-color-scheme: light) {
  .comparer .differenceHeader {
    background-color: #FFD600;
    color: #19191C;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .differenceHeader {
    background-color: #FFD600;
    color: #19191C;
  }
}
@media (prefers-color-scheme: light) {
  .comparer .differenceOutline {
    border: 2px solid #FFD600;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .differenceOutline {
    border: 2px solid #FFD600;
  }
}
@media (prefers-color-scheme: light) {
  .comparer .differenceArtboard {
    backgroundColor: rgba(0, 0, 0, 0.05);
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .differenceArtboard {
    backgroundColor: rgba(255, 255, 255, 0.05);
  }
}
.comparer .sidePanel {
  width: 240px;
  transition: all 0.3s ease-out;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (prefers-color-scheme: light) {
  .comparer .sidePanel {
    background-color: #fafafc;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .sidePanel {
    background-color: #242428;
  }
}
.comparer .sidePanel.collapsed {
  width: 0;
  opacity: 0;
}
.comparer .sidePanel .title {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 32px;
  font-size: 16px;
}
@media (prefers-color-scheme: light) {
  .comparer .sidePanel .title {
    color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .sidePanel .title {
    color: #ffffff;
  }
}
.comparer .sidePanel .header {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 16px;
}
.comparer .sidePanel .header.spaced {
  line-height: 20px;
}
@media (prefers-color-scheme: light) {
  .comparer .sidePanel .header {
    color: #868688;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .sidePanel .header {
    color: #949494;
  }
}
.comparer .sidePanel .listItem {
  padding: 8px 24px 10px 24px;
}
.comparer .bottomBar {
  padding: 12px 12px 12px 12px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
@media (prefers-color-scheme: light) {
  .comparer .bottomBar {
    background-color: #ffffff;
    border-top: 1px solid #f4f4f6;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .bottomBar {
    background-color: #19191C;
    border-top: 1px solid #242428;
  }
}
.comparer .bottomBar .btnSecondary {
  height: 36px;
}
.comparer .bottomBar .btnSecondary.viewOption {
  margin-right: 8px;
}
.comparer .bottomBar .btnSecondary.iconButton {
  width: 36px;
  margin-right: 8px;
}
@media (prefers-color-scheme: light) {
  .comparer .bottomBar .btnSecondary.iconButton path {
    fill: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .bottomBar .btnSecondary.iconButton path {
    fill: #ffffff;
  }
}
@media (prefers-color-scheme: light) {
  .comparer .bottomBar .btnSecondary.iconButton:hover {
    border-color: #797979;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .bottomBar .btnSecondary.iconButton:hover {
    border-color: #797979;
  }
}
@media (prefers-color-scheme: light) {
  .comparer .bottomBar .btnSecondary.iconButton.checked {
    border-color: #901AED;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .bottomBar .btnSecondary.iconButton.checked {
    border-color: #901AED;
  }
}
@media (prefers-color-scheme: light) {
  .comparer .bottomBar .btnSecondary.iconButton.checked:hover {
    border-color: #ad51f8;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .bottomBar .btnSecondary.iconButton.checked:hover {
    border-color: #ad51f8;
  }
}
@media (prefers-color-scheme: light) {
  .comparer .bottomBar .btnSecondary.iconButton.checked path {
    fill: #901AED;
  }
}
@media (prefers-color-scheme: dark) {
  .comparer .bottomBar .btnSecondary.iconButton.checked path {
    fill: #ffffff;
  }
}
.comparer .bottomBar span {
  margin-right: 8px;
}
.comparer .bottomBar .leftElements {
  grid-column: 1;
}
@media (max-width: 1280px) {
  .comparer .bottomBar .leftElements {
    display: none;
  }
}
.comparer .bottomBar .centerElements {
  grid-column: 2;
}
.comparer .bottomBar .rightElements {
  grid-column: 3;
  justify-content: flex-end;
}
@media (max-width: 1280px) {
  .comparer .bottomBar .rightElements {
    display: none;
  }
}

@font-face {
  font-family: AvenirNextLTPro-Medium;
  src: url(./fonts/AvenirNextLTPro-Medium.ttf) format("truetype");
}
@font-face {
  font-family: AvenirNextLTPro-Bold;
  src: url(./fonts/AvenirNextLTPro-Bold.ttf) format("truetype");
}
@font-face {
  font-family: AvenirNextLTPro-Demi;
  src: url(./fonts/AvenirNextLTPro-Demi.ttf) format("truetype");
}
html {
  box-sizing: border-box;
  background: transparent;
  overflow: hidden;
  cursor: default;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
}
@media (prefers-color-scheme: light) {
  html,
  body {
    background-color: #fafafc;
    color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #19191C;
    color: #ffffff;
  }
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

.react-transform-wrapper {
  width: 100% !important;
  height: 100% !important;
}

@media (prefers-color-scheme: light) {
  .innerCanvas {
    background-color: #fafafc;
    color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .innerCanvas {
    background-color: #19191C;
    color: #ffffff;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.dotted {
  background-size: 20px 20px;
  background-position: -19px -19px;
}
@media (prefers-color-scheme: light) {
  .dotted {
    background-color: #ffffff;
    color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .dotted {
    background-color: #19191C;
    color: #ffffff;
  }
}
@media (prefers-color-scheme: light) {
  .dotted {
    background-image: radial-gradient(rgba(50, 50, 50, 0.1) 1px, transparent 0);
  }
}
@media (prefers-color-scheme: dark) {
  .dotted {
    background-image: radial-gradient(rgba(255, 255, 255, 0.07) 1px, transparent 0);
  }
}

.animatedDiv.visible {
  transition: visibility 0s, opacity 0s;
  visibility: visible;
  opacity: 1;
}
.animatedDiv.invisible {
  transition: visibility 0s, opacity 0s;
  visibility: hidden;
  opacity: 0;
}
.animatedDiv.fadeOut {
  transition: opacity 0.5s linear, visibility 0s 0.5s !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
.animatedDiv.fadeIn {
  transition: visibility 0s, opacity 0.5s linear !important;
  opacity: 1 !important;
  visibility: visible !important;
}

a {
  color: inherit;
}/*# sourceMappingURL=App.css.map */